/* font-family : "Lato, sans cherif; 
*/

/* GENERAL */
body, h1, h2 {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
}

.content, section, nav {
    width: 1120px;
    margin: auto;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:white;
}

/* HEADER */
header {
    background-color:rgba(243, 162, 13, 0.955);
}

/* NAVIGAITON */
nav ul {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

nav ul li a{
    color:white;
}

nav a.current, nav a:hover{
    color:#4a4a4a;
}

nav ul li{
    display: inline;
    padding-left: 30px;
}
