/*
font-family: "Roboto Condensed", sans-serif;
font-family: "Lato", sans-serif;

*/
 
/*GENERAL*/

body{
    font-family: "Lato", sans-serif;
}

body, h1, h2{
    margin: 0;
    padding: 0;
 
}

.content, section, nav{
    width: 1120px;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

.clear{
    clear:both;
}
 
/*HEADER*/

header{
    background-color: #ff8a0d;
 
}
header div.content{
    position: relative;
}

.logo{
    padding: 30px;
}

.slide{
    background: url(image/product.jpg);
    height: 694px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

/* NAVIGATION */

nav ul{
   list-style: none;
   font-size: 20px;
   font-weight: 700;
   position: absolute;
   top: 80px;
   right: 10px;
}

nav ul li{
    display: inline;
    padding-left: 30px;
}

nav ul li a{
    color: white;
}

nav ul li a:hover{
    color: #4a4a4a;
}

nav a.current{
    color: #4a4a4a;
}
 
/* COLONNES */

.col{
    float:left;
    margin-right: 20px;
}

.last{
    margin: 0;
}

.col-4-12{
width: 360px;
}

.col-3-12{
    width: 400;
}

.col-8-12{
    width: 470px;
}

/* MAIN */