/* font-family*/

/* GENERAL */
body, h1, h2 {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
}

.content, section, nav {
    width: 1120px;
    margin: auto;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:white;
}

/* HEADER */
header {
    background-color:rgba(243, 162, 13, 0.955);
}

/* NAVIGAITON */
nav ul {
    list-style: none;
}